{% extends 'base.html' %}

{% load humanize %}

{% block body %}

    <h5 class="vLargeTextField">{{ blog.title }}
        <a href="#" style="font-size: 15px; float:right"><span style="color: gray">By:</span> {{ blog.author }}</a><br>
        <span style="color: gray; font-size: 15px; float:right">{{ blog.timestamp|naturaltime }}</span> <br>

    </h5>
    <hr>
    <div class="mt-3"></div>
    <ul class="list-group list-group-flush">
        <li class="p-2 list-group-item">
            <p>{{ blog.content|linebreaks }}</p>
    {{ blog.author }}: : {{ request.user }}sdf
        </li>
    </ul>
    {% if blog.author == request.user %}
    <a href="{% url 'update-post' blog.pk %}" style="float: right">Update post</a>
    {% endif %}
    <hr>
    <p>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
           aria-controls="collapseExample">
            Comment 🥳
        </a>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body p-2" style="border: 0px">
            <div class="mb-3">
                <form method="post" action="{% url 'comment' blog.pk %}">
                    {% csrf_token %}
                    <label for="comment" class="form-label">Comment</label>
                    <textarea class="form-control" name="comment" id="comment" rows="2"></textarea>
                    <input type="submit" value="Comment" class="btn btn-success mt-1 p-1">
                </form>
            </div>
        </div>
    </div>

    <h5 style="color: orange">{{ comments|length }} Comments- </h5>
    <div class="mt-5">

        {% for comment in comments %}
            <span style="padding: 1%; color: blue; border: 1px solid gray">{{ comment.username }}</span> <br>
            <p>{{ comment }}</p>
            <span style="font-size:13px; color: darkgrey; float:right">{{ comment.timestamp|naturaltime }}
                {% if comment.username == request.user %}
                    <button style="border: 0px; background-color: white" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                <u style="font-size: 13px">Options</u>
            </button>
                    <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'delete-comment' comment.pk %}">Delete</a></li>
                <li><a class="dropdown-item" href="{% url 'update-comment' comment.pk %}">Update Comment</a></li>
            </ul>
                {% endif %}
            </span>
            <br>
            <hr>
        {% endfor %}
    </div>
{% endblock %}