{% extends 'base.html' %}

{% block title %}Password reset - TimeBlog{% endblock %}

{% block style %}
    input{
    border:1px solid green;
    padding:1%;
    padding-left:12px;
    font-size:17px
    }
    .errorlist{
    color:red;
    }

{% endblock %}
{% block body %}


        <div class="mt-3"></div>
        <h1>Unable to take your request, don't know why?</h1>
        <h5 class="vLargeTextField">Sorry, you don't have the right permissions to carry out the changes, contact admin?
<br>
<br>
<br>
<br>
{% endblock %}